server:
  port: 8090
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    import:
      - "application-qa.yaml"
      - "application-prod.yaml"
  profiles:
    active: qa

loans:
  message: "Welcome to Bank loans related local APIs "
  contactDetails:
    name: "Amaal - Developer"
    email: "amaal@bank.com"
  onCallSupport:
    - 010-0000-0000
    - 010-1111-1111