spring:
  application:
    name: "gatewayserver"
  config:
    import: "optional:configserver:http://localhost:8071/"
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false # 현재 사용자 정의 필터에 등록된 eureka 인스턴스만 나오게 수정
              lower-case-service-id: true
          httpclient:
            connect-timeout: 1000
            response-timeout: 10s
  data:
    redis:
      connect-timeout: 2s
      host: localhost
      port: 6379
      timeout: 1s
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: "http://localhost:7080/realms/master/protocol/openid-connect/certs"


management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      access: unrestricted
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

info:
  app:
    name: "gatewayserver"
    description: "Bank GatewayServer Application"
    version: "1.0.0"

logging:
  level:
    com:
      eazybytes:
        gatewayserver: DEBUG
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"

resilience4j:
  circuitbreaker:
    configs:
      default:
        sliding-window-size: 10 # 최근 10개의 호출을 기준으로 성공/실패율을 계산, CircuitBreaker는 "최근 N번의 호출 중 몇 %가 실패했는가"를 보고 Open(열림) 상태로 바뀜
        permitted-number-of-calls-in-half-open-state: 2 # Open → Half-Open 상태로 전환되면, 테스트 삼아 2번의 요청만 외부로 보냄 // 2번 모두 성공 시 close, 2번 모두 실패 시 open
        failure-rate-threshold: 50 # 실패율이 50% 이상이면 CircuitBreaker를 Open 상태로 전환
        wait-duration-in-open-state: 10000 # Open 상태가 된 후 10초(10000ms) 동안 요청을 차단, 시간이 지난 후, Half-Open 상태로 바뀌어 일부 요청을 테스트로 보냄
  retry:
    configs:
      default:
        max-attempts: 3 # 재시도 최대 횟수 3번
        wait-duration: 500 # 대기 시간
        enable-exponential-backoff: true # 대기 시간 증가 방식
        exponential-backoff-multiplier: 2 # 대기 시간 증가 비율
        ignore-exceptions:
          - java.lang.NullPointerException

